.carreras > h2{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.2rem;
}

.listaCarreras{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.listaCarreras > li{
    width: 85%;
    height: 11rem;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.listaCarreras li:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.listaCarreras > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
}

@media screen and (min-width: 1024px){
    .listaCarreras li{
        width: 30%;
    }
}