.mainDevs{
    padding: 20px 0;
}

.containerDevs{
    width: 90vw;
    margin: 0 auto;
}

.descripcionDevs{
    display: grid;
    gap: 1rem;
}

.descripcionDevs h2, .equipoDevs h2{
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.equipoDevs h2{
    padding: 1.4rem 0;
}

.descripcionDevs p{
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.4;
}

.listaDevs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.6rem;
}

.infoDev{
    width: calc(70% - 1rem);
    position: relative; 
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgb(0, 0, 0, 0.3);
    overflow: hidden;
}

.infoDev:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.caja1{
    text-align: center;
}

.caja1 img{
    width: calc(10rem - 1rem);
    border-radius: 50%;
    bottom: -50px;
    position: relative
}

.caja2{
    display: grid;
    gap: 1rem;
    min-height: 110px;
    padding: 40px 20px 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.devName{
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #6278f7;
}

.devWork{
    color: #212121;
    font-size: 1.2rem;
}

.redesDev{
    padding: .6rem;
    display: flex;
    justify-content: space-around;
}

.iconoRedes{
    font-size: 1.2rem;
    color: #212121;
}

.recorrido{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.dato{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}