.containerAct{
    padding: 30px 0;
    width: 90vw;
    margin: 0 auto;
}

.listaAct{
    display: grid;
    gap: 1rem;
}

.itemAct{
    width: 100%;
}

.imgFondo{
    height: 14rem;
    background-position: center;
    background-size: cover;
}

.informacionItem{
    padding: 1.4rem;
    background-color: #150F5D;
    color: #fff;
}

.informacionItem h2{
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.4;
}

.informacionItem p{
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.4;
}

@media screen and (min-width: 1024px){
    .listaAct{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem 1rem;
    }
    .itemAct{
        width: 32%;
    }
    .informacionItem{
        min-height: 20rem;
    }
}