.containerCarrusel{
    width: 100%;
    height: 12rem;
    position: relative;
    background-size: cover;
    background-position: center;
} 

.next{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
}

.left{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
}