.containerCarreras{
    padding: 20px 0;
    width: 86vw;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
}

.carreraBachi, .carreraPerito{
    background-color: #eeeeee;
    box-shadow: 0 4px 8px rgba(63, 60, 60, 0.521);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carreraBachi:hover, .carreraPerito:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.carreraPerito div{
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #00a19b;
    padding: 1rem;
}

.carreraBachi div{
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #93d500;
    padding: 1rem;
}

.listaCarreras{
    display: grid;
    gap: 1rem;
    padding: 1.4rem 1rem;
}

.listaCarreras li{
    font-size: 1.24rem;
}